In [32]:
from selenium import webdriver
import requests
from bs4 import BeautifulSoup 
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
from io import BytesIO
import datetime
from urllib import request,error
import csv
import os
import numpy as np
import matplotlib.pyplot as plt
import math as m
from scipy.stats.kde import gaussian_kde
from numpy import linspace, hstack

In [7]:
def yahoo_download(url):
	url = "https://finance.yahoo.com/quote/" + url + "/history"
	head = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
	main_driver = webdriver.Chrome('/Users/lou_tun_chieh/Desktop/webdriver/chromedriver')  # 注意你們放CHROMEDRIVER的位置
	#告訴chromedriver 等下要找的element 如果沒有找到，要等10秒讓他們生完
	main_driver.implicitly_wait(10)
	main_driver.get(url)
	cookie_list = main_driver.get_cookies()
	cookies_dict = {}
	for cookie in cookie_list:
		cookies_dict['B'] = cookie['value']
	print(cookies_dict)

	date_btn_ele = main_driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[1]/span[2]/span/input')
	date_btn_ele.click()
	main_driver.implicitly_wait(10)

	#點取date button
	date_btn_ele = main_driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[1]/span[2]/div/input[1]').clear()
	date_btn_ele = main_driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[1]/span[2]/div/input[1]').send_keys("01/01/2016")
	#date_btn_ele.click()
	main_driver.implicitly_wait(10)


	##點取done button
	done_btn_ele = main_driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[1]/span[2]/div/div[3]/button[1]')
	done_btn_ele.click()
	main_driver.implicitly_wait(10)


	#點取frequency button
	fre_btn_ele = main_driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[3]/span/div/span/span')
	# print(fre_btn_ele.)
	fre_btn_ele.click()
	# main_driver.execute_script('arguments[0].innerHTML = "Weekly";', fre_btn_ele)
	fre_btn_ele = main_driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[3]/span/div[2]/div[3]').click()
	main_driver.implicitly_wait(10)

	

	#點取apply button
	done_btn_ele = main_driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/button')
	done_btn_ele.click()
	main_driver.implicitly_wait(10)
	time.sleep(20)
	
	#得到歷史資料的csv檔
	export_btn_ele = main_driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[2]/span[2]/a')
	csv_url = export_btn_ele.get_attribute('href')
	main_driver.quit()
	return csv_url, cookies_dict

In [8]:
def write_down_csv(etf_name):
	
	filename = "./ETF_month/" + etf_name + "_month.csv"
	if os.path.isfile(filename):
		df = pd.read_csv(filename)  
		df = pd.DataFrame(df)
		df = df.rename(columns={'Adj Close': etf_name})
		return df

	else:
		print(etf_name)
		tmp_url, tmp_cookie  = yahoo_download(etf_name)
		download = requests.get(tmp_url, cookies=tmp_cookie)
		df = pd.read_csv(BytesIO(download.content))
		#將該變數轉成pandas的dataframe格式
		df = pd.DataFrame(df)
		df = df.rename(columns={'Adj Close': etf_name})
		
		
		with open (filename, 'wb') as handle:
			for block in download.iter_content(1024):
				handle.write(block)
		
		return df

In [9]:
head = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
#必須帶有瀏覽器等資訊
etf_list_1 = "../Municipal Bond ETF List (29).csv"
etf_list_2 = "../Target Maturity Date Corporate Bond ETF List (24).csv"

df_1 = pd.read_csv(etf_list_1)
df_2 = pd.read_csv(etf_list_2)
df = pd.concat([df_1, df_2])

df = df[df["Inception"] < "2016"]
df = df.reset_index(drop=True)

tmp_df =  write_down_csv(df["Symbol"][0])
#Date = tmp_df["Date"]
result =  pd.concat([tmp_df["Date"], tmp_df[df["Symbol"][0]]], axis=1)
for i in range(1, len(df["Symbol"])):
	tmp_df =  write_down_csv(df["Symbol"][i])
	#print(tmp_df[df["Symbol"][i]])
	result =  pd.concat([result, tmp_df[df["Symbol"][i]]], axis=1)
	#print(result)

# result.to_csv('ETF_month.csv',encoding='utf_8_sig')

In [10]:
etf_month = pd.read_csv("ETF_month.csv")  
etf_month = pd.DataFrame(etf_month)
etf_month = etf_month.drop(['Unnamed: 0'], axis = 1)
etf_month = etf_month.drop(index = 0 )
etf_month = etf_month.drop(index = len(etf_month.index) )
etf_month.index = etf_month["Date"]
etf_month = etf_month.drop(["Date"], axis = 1 )
etf_month

                   MUB       VTEB        SHM        TFI         SUB  \
Date
2016-01-01  103.421516  48.034252  47.060581  45.796093  102.589127
2016-02-01  103.236122  48.118599  47.176022  45.833256  102.762848
2016-03-01  103.713005  48.282925  46.981670  45.893768  102.506714
2016-04-01  104.422119  48.706890  47.099037  46.319260  102.632256
2016-05-01  104.695526  48.816494  47.047073  46.355389  102.550583
2016-06-01  106.376984  49.656097  47.367340  47.357002  102.900040
2016-07-01  106.328423  49.657806  47.519173  47.355648  103.179398
2016-08-01  106.470253  49.673794  47.491222  47.457890  103.154877
2016-09-01  105.861855  49.356052  47.256100  47.123882  102.764778
2016-10-01  104.846016  48.980427  47.111008  46.549885  102.728607
2016-11-01  100.551079  47.122952  46.279217  44.566578  101.541946
2016-12-01  102.126884  47.721622  46.449089  44.792561  102.048988
2017-01-01  102.728394  47.989452  46.877346  45.255211  102.371559
2017-02-01  103.069359  48.208546  47.032677  45.435577  102.799400
2017-03-01  103.389191  48.307117  47.070717  45.575710  102.743256
2017-04-01  103.962845  48.568020  47.217598  45.931274  102.927193
2017-05-01  105.552696  49.311844  47.508778  46.788086  103.357979
2017-06-01  105.119164  49.196053  47.258564  46.569557  103.152481
2017-07-01  106.032257  49.595165  47.570404  47.006889  103.525040
2017-08-01  106.888374  50.006424  47.793648  47.361736  103.875862
2017-09-01  106.433571  49.769947  47.519978  47.032383  103.559433
2017-10-01  106.522789  49.844685  47.461983  47.125095  103.403625
2017-11-01  106.030205  49.695797  46.957443  46.842365  102.805374
2017-12-01  106.900620  50.034302  46.967762  47.344433  102.727486
2018-01-01  105.881531  49.558475  47.150246  46.825123  103.120819
2018-02-01  105.049728  49.160839  47.120796  46.349697  102.963768
2018-03-01  105.554016  49.372913  47.003792  46.685165  103.031418
2018-04-01  104.831284  49.171684  46.869778  46.425621  102.618423
2018-05-01  106.140808  49.749290  47.138504  46.948917  103.218315
2018-06-01  106.277466  49.792179  47.314220  46.899879  103.451263
2018-07-01  106.423820  49.932018  47.473507  46.985806  103.812248
2018-08-01  106.592995  49.991905  47.463688  47.133961  103.801682
2018-09-01  105.866096  49.608795  47.204292  46.671101  103.485344
2018-10-01  105.263573  49.362804  47.103912  46.285992  103.339409
2018-11-01  106.421120  49.831474  47.405293  46.968872  103.907631
2018-12-01  107.654427  50.441925  47.724319  47.574089  104.545021
2019-01-01  108.510933  50.883270  48.031139  48.078648  105.055038
2019-02-01  108.867828  51.071766  48.170479  48.197754  105.045082
2019-03-01  110.472183  51.844612  48.303150  49.004440  105.569946
2019-04-01  111.069756  52.081921  48.398033  49.290825  105.648277
2019-05-01  111.963608  52.497391  48.471977  49.648502  105.885864

                  ITM        PZA        FMB       MUNI        SMB    ...      \
Date                                                                 ...
2016-01-01  45.179951  23.171299  48.153885  50.122585  16.864092    ...
2016-02-01  45.105560  23.157856  48.457909  50.122585  16.950367    ...
2016-03-01  45.137085  23.386778  48.732655  50.094894  16.909193    ...
2016-04-01  45.663452  23.606104  49.060780  50.508289  16.982138    ...
2016-05-01  45.639999  23.789848  49.434418  50.445824  16.960075    ...
2016-06-01  46.546749  24.309986  50.016705  51.176617  17.062050    ...
2016-07-01  46.538891  24.189032  50.291138  51.310902  17.126675    ...
2016-08-01  46.600780  24.212990  50.485302  51.466709  17.132505    ...
2016-09-01  46.325691  24.031199  50.323792  51.249115  17.041786    ...
2016-10-01  45.840054  23.829027  49.774796  50.773922  17.008850    ...
2016-11-01  43.328606  22.809690  47.657059  49.122337  16.482899    ...
2016-12-01  43.920380  23.136820  48.152977  49.226402  16.604332    ...
2017-01-01  44.452213  23.354387  48.553436  49.593933  16.868059    ...
2017-02-01  44.642342  23.487410  48.855873  49.848549  16.906843    ...
2017-03-01  44.652241  23.443764  49.083908  50.004951  16.933079    ...
2017-04-01  45.112000  23.513762  49.501961  50.391407  16.986504    ...
2017-05-01  46.022888  24.039484  50.177341  50.899532  17.101263    ...
2017-06-01  45.821373  24.018549  50.339687  50.829052  17.001125    ...
2017-07-01  46.273769  24.231936  50.616165  51.168758  17.136410    ...
2017-08-01  46.660831  24.399357  51.085251  51.559608  17.202848    ...
2017-09-01  46.324326  24.300406  51.085079  51.452106  17.113087    ...
2017-10-01  46.468269  24.352554  51.222176  51.541779  17.130569    ...
2017-11-01  46.224781  24.346384  51.152111  51.202847  16.923183    ...
2017-12-01  46.577625  24.746634  51.690231  51.609867  16.881824    ...
2018-01-01  46.013233  24.356440  51.005482  51.206505  16.976887    ...
2018-02-01  45.527649  24.130272  50.812794  50.955395  16.918009    ...
2018-03-01  45.791378  24.299023  51.009541  51.090363  16.917942    ...
2018-04-01  45.522648  24.189581  50.861198  51.024475  16.797935    ...
2018-05-01  46.141201  24.487417  51.346706  51.403145  16.945469    ...
2018-06-01  46.134407  24.464481  51.418385  51.494316  17.014626    ...
2018-07-01  46.246002  24.568783  51.646236  51.594807  17.095627    ...
2018-08-01  46.432713  24.595015  51.688000  51.676952  17.058146    ...
2018-09-01  45.895393  24.334755  51.317291  51.471046  16.990784    ...
2018-10-01  45.572567  24.115150  51.029076  51.159950  17.012468    ...
2018-11-01  46.216167  24.349979  51.411793  51.680798  17.103739    ...
2018-12-01  47.015602  24.723269  52.038078  52.115887  17.186285    ...
2019-01-01  47.514153  24.885050  52.334076  52.780464  17.327610    ...
2019-02-01  47.692768  25.030430  52.722519  52.958847  17.397238    ...
2019-03-01  48.523392  25.593924  53.613422  53.614948  17.490963    ...
2019-04-01  48.720970  25.703640  53.861584  53.929836  17.483074    ...
2019-05-01  49.206257  26.020000  54.450001  54.134808  17.526974    ...

                 BSCN       IBDO       IBDP       BSCO       IBDQ       BSCP  \
Date
2016-01-01  18.248255  22.088173  21.735325  18.057320  21.668730  18.071154
2016-02-01  18.421181  22.325094  21.970688  18.111555  21.939142  18.234695
2016-03-01  18.893234  22.872826  22.507988  18.686859  22.473284  18.699167
2016-04-01  19.093935  23.037251  22.807610  18.889441  22.672167  18.931253
2016-05-01  19.120008  22.998304  22.844872  18.937208  22.729866  18.903620
2016-06-01  19.493004  23.604946  23.351450  19.376196  23.299841  19.374378
2016-07-01  19.682175  23.714121  23.562307  19.618795  23.585758  19.603598
2016-08-01  19.727634  23.729008  23.542511  19.576170  23.514135  19.596703
2016-09-01  19.735022  23.717007  23.514977  19.631119  23.413572  19.578154
2016-10-01  19.526333  23.479818  23.276339  19.395611  23.130156  19.320305
2016-11-01  19.053547  22.852856  22.564362  18.858095  22.423487  18.673552
2016-12-01  19.031006  22.928139  22.587225  18.874353  22.375391  18.648046
2017-01-01  19.327738  23.175188  22.826277  19.105627  22.643940  18.855101
2017-02-01  19.421471  23.268333  22.983828  19.245493  22.861046  19.018320
2017-03-01  19.442385  23.262037  23.000057  19.231871  22.857029  19.007566
2017-04-01  19.659821  23.508089  23.241289  19.399473  23.116058  19.231434
2017-05-01  19.846144  23.736641  23.473520  19.656307  23.359812  19.458340
2017-06-01  19.839819  23.721069  23.483353  19.627600  23.342569  19.443666
2017-07-01  20.044462  23.941624  23.669245  19.840828  23.574730  19.638000
2017-08-01  20.121756  24.067804  23.903236  20.003090  23.795113  19.800200
2017-09-01  20.089460  24.050901  23.787489  19.900883  23.691875  19.716028
2017-10-01  20.132235  24.062117  23.878891  20.006109  23.785908  19.788004
2017-11-01  20.014633  23.901960  23.819136  19.931772  23.681744  19.696533
2017-12-01  19.949202  23.940580  23.854036  19.967918  23.784855  19.781271
2018-01-01  19.902964  23.820656  23.701956  19.816658  23.564493  19.615822
2018-02-01  19.695591  23.561628  23.386312  19.566790  23.164412  19.221968
2018-03-01  19.714472  23.541767  23.390276  19.530569  23.237995  19.294243
2018-04-01  19.619375  23.447092  23.174725  19.385500  22.958599  19.127075
2018-05-01  19.685184  23.593618  23.353308  19.567997  23.120356  19.223295
2018-06-01  19.653196  23.526978  23.268539  19.482159  23.107101  19.210920
2018-07-01  19.751585  23.619907  23.392218  19.592936  23.252140  19.373386
2018-08-01  19.875881  23.753437  23.581924  19.718988  23.424286  19.472273
2018-09-01  19.846577  23.733116  23.492599  19.689739  23.291134  19.396030
2018-10-01  19.762842  23.586054  23.333801  19.573730  23.131351  19.194389
2018-11-01  19.747101  23.628700  23.311598  19.513544  23.111094  19.173454
2018-12-01  19.943649  23.811741  23.500120  19.725708  23.190424  19.423183
2019-01-01  20.348719  24.393829  24.203461  20.220901  24.138910  20.022776
2019-02-01  20.439724  24.408670  24.203461  20.307049  24.138910  20.057262
2019-03-01  20.747923  24.812498  24.671505  20.677000  24.656429  20.506948
2019-04-01  20.757898  24.840273  24.773102  20.736847  24.779058  20.566793
2019-05-01  20.830000  24.896025  24.853973  20.820000  24.850000  20.639999

                 IBDC       IBCD       IBDD       IBCE
Date
2016-01-01  23.463791  22.333260  22.633593  21.083361
2016-02-01  23.655922  22.376724  22.635778  21.316961
2016-03-01  24.065126  22.868979  23.316833  21.929136
2016-04-01  24.172787  23.169186  23.887869  22.274954
2016-05-01  24.303711  23.177521  23.998325  22.390974
2016-06-01  24.799288  23.634087  24.565922  23.026424
2016-07-01  24.916048  23.802532  25.188412  23.374271
2016-08-01  24.998695  23.803822  25.083851  23.287676
2016-09-01  24.958422  23.708838  25.106705  23.376045
2016-10-01  24.908274  23.756418  24.972132  23.139368
2016-11-01  24.735815  23.441719  24.355122  22.566250
2016-12-01  24.732285  23.515783  24.376350  22.569962
2017-01-01  24.927902  23.640673  24.598499  22.742701
2017-02-01  24.937407  23.669422  24.691854  22.864620
2017-03-01  24.924850  23.638929  24.715710  22.898180
2017-04-01  24.999172  23.697460  24.992359  23.016853
2017-05-01  25.110106  23.772587  25.204502  23.257792
2017-06-01  25.115963  23.762041  25.153017  23.225092
2017-07-01  25.265537  23.846960  25.373888  23.409868
2017-08-01  25.339714  23.952486  25.502167  23.491932
2017-09-01  25.287790  23.902210  25.392172  23.411005
2017-10-01  25.273155  23.938948  25.405088  23.444126
2017-11-01  25.259535  23.849537  25.275208  23.228737
2017-12-01  25.235239  23.865892  25.307270  23.280893
2018-01-01  25.253448  23.805420  25.181288  23.058128
2018-02-01  25.185488  23.746931  24.864119  22.903961
2018-03-01  25.198984  23.802492  24.866245  22.965422
2018-04-01  25.244722  23.801548  24.783039  22.834763
2018-05-01  25.327692  23.925865  24.980200  22.877991
2018-06-01  25.293535  23.874016  24.896084  22.911037
2018-07-01  25.455986  23.979971  24.948269  23.003592
2018-08-01  25.502317  24.008619  25.166744  23.174658
2018-09-01  25.508219  24.085470  25.081074  23.052519
2018-10-01  25.533749  24.083561  25.034649  23.007940
2018-11-01  25.590931  24.075584  25.040268  23.022469
2018-12-01  25.641363  24.154728  25.222383  23.236393
2019-01-01  25.836775  24.341532  25.755678  23.695677
2019-02-01  25.846695  24.351467  25.785395  23.665945
2019-03-01  25.916300  24.400244  26.205509  23.979776
2019-04-01  25.988060  24.481001  26.214268  24.033117
2019-05-01  25.979118  24.490049  26.286976  24.077021

[41 rows x 35 columns]

In [11]:
etf_week = pd.read_csv("ETF_week.csv")  
etf_week = pd.DataFrame(etf_week)
etf_week = etf_week.drop(['Unnamed: 0'], axis = 1)
etf_week = etf_week.drop(index = 0 )
etf_week = etf_week.drop(index = len(etf_week.index) )
etf_week.index = etf_week["Date"]
etf_week = etf_week.drop(["Date"], axis = 1 )
etf_week

                   MUB       VTEB        SHM        TFI         SUB  \
Date
2016-01-04  103.180519  48.127953  46.906670  45.740345  102.482964
2016-01-11  103.226852  48.052971  47.002861  45.647408  102.338150
2016-01-18  103.180519  48.062347  46.983624  45.758934  102.540840
2016-01-25  103.421516  48.034252  47.060581  45.796093  102.589127
2016-02-01  103.504974  48.231064  47.195259  45.870441  102.637383
2016-02-08  103.917343  48.367378  47.289608  46.098412  102.757813
2016-02-15  103.750175  48.292313  47.289608  46.098412  102.767456
2016-02-22  103.452934  48.113995  47.174137  45.856556  102.738510
2016-02-29  102.830521  47.926319  46.943176  45.540314  102.535675
2016-03-07  103.091354  48.011490  47.022018  45.546501  102.487297
2016-03-14  103.351929  48.161854  46.993130  45.658230  102.506645
2016-03-21  103.361229  48.161854  46.983505  45.695473  102.516296
2016-03-28  103.659050  48.321602  46.935349  45.844448  102.400330
2016-04-04  104.555687  48.618900  47.095245  46.299446  102.521561
2016-04-11  104.639595  48.694176  47.153057  46.364719  102.569923
2016-04-18  104.443871  48.656528  47.133789  46.308762  102.589249
2016-04-25  104.592995  48.769466  47.133789  46.402023  102.695633
2016-05-02  104.723488  48.825905  47.162697  46.457993  102.772987
2016-05-09  105.312477  49.024792  47.290138  46.814060  102.890366
2016-05-16  104.976280  48.930573  47.232231  46.654922  102.754883
2016-05-23  104.798889  48.817509  47.126076  46.514511  102.619423
2016-05-30  104.957626  48.996532  47.126076  46.580036  102.648453
2016-06-06  105.682938  49.280540  47.268036  46.952419  102.821106
2016-06-13  106.160019  49.440880  47.345306  47.252499  102.946999
2016-06-20  106.403252  49.752113  47.412918  47.374405  103.130989
2016-06-27  106.487442  49.686104  47.412918  47.468170  102.976059
2016-07-04  106.826424  49.843792  47.413895  47.645771  103.096733
2016-07-11  106.292213  49.513264  47.423573  47.288799  103.038605
2016-07-18  106.189102  49.447166  47.433235  47.232441  103.135483
2016-07-25  106.526505  49.721024  47.558891  47.439098  103.251762
...                ...        ...        ...        ...         ...
2018-10-22  105.721771  49.565262  47.216824  46.544579  103.541138
2018-10-29  105.002693  49.151150  47.048187  46.031471  103.313332
2018-11-05  105.541611  49.463718  47.148373  46.358047  103.543213
2018-11-12  105.995773  49.690979  47.267532  46.704075  103.701912
2018-11-19  106.212967  49.779907  47.386696  46.793060  103.880455
2018-11-26  106.667122  49.938004  47.456203  47.059994  104.049072
2018-12-03  107.229881  50.165268  47.625011  47.168747  104.247444
2018-12-10  107.222183  50.275612  47.730591  47.271984  104.435455
2018-12-17  107.548683  50.513229  47.770367  47.549351  104.544731
2018-12-24  108.005302  50.542931  47.851997  47.701485  104.706902
2018-12-31  108.094536  50.625336  47.822144  47.780884  104.796432
2019-01-07  107.995384  50.694775  47.931614  47.840439  105.025200
2019-01-14  108.035034  50.704700  47.981380  47.909916  104.796432
2019-01-21  108.044960  50.684860  47.941566  47.800735  104.935677
2019-01-28  108.144104  50.724541  47.991333  47.909916  104.915787
2019-02-04  108.793091  51.079117  48.113842  48.268581  105.171562
2019-02-11  108.912323  51.089062  48.103874  48.218861  105.181519
2019-02-18  109.140831  51.188477  48.183586  48.338188  105.261208
2019-02-25  108.872581  51.029411  48.143730  48.248692  105.121765
2019-03-04  109.586044  51.394665  48.228424  48.533573  105.408920
2019-03-11  109.705536  51.464390  48.278309  48.702961  105.448814
2019-03-18  110.532036  51.812996  48.348145  48.952057  105.538567
2019-03-25  110.721237  51.942482  48.368103  49.101513  105.718094
2019-04-01  110.273125  51.753235  48.308239  48.922161  105.568489
2019-04-08  110.436836  51.848663  48.342133  48.949791  105.626213
2019-04-15  110.636414  51.898563  48.362106  48.959770  105.656181
2019-04-22  111.255104  52.178017  48.402061  49.289165  105.766029
2019-04-29  111.225166  52.148075  48.352119  49.359035  105.656181
2019-05-06  111.889999  52.520000  48.500000  49.639999  105.879997
2019-05-13  112.199997  52.599998  48.529999  49.740002  106.029999

                  ITM        PZA        FMB       MUNI         SMB    ...      \
Date                                                                  ...
2016-01-04  45.031155  23.216465  47.906227  50.187126   16.825739    ...
2016-01-11  45.049747  23.171299  48.133705  50.011982   16.816156    ...
2016-01-18  45.068348  23.212219  48.089668  50.067295   16.844908    ...
2016-01-25  45.179951  23.239395  48.259357  50.122585   16.864092    ...
2016-02-01  45.291561  23.302816  48.516739  50.104156   16.921610    ...
2016-02-08  45.491177  23.302816  48.691410  50.427368   16.928381    ...
2016-02-15  45.472542  23.314087  48.847656  50.565914   16.985966    ...
2016-02-22  45.174362  23.168713  48.544315  50.178017   16.909193    ...
2016-02-29  44.689819  23.050600  48.410225  49.882454   16.889992    ...
2016-03-07  44.823360  23.168713  48.465508  50.008575   16.886089    ...
2016-03-14  44.991379  23.241396  48.557610  50.073349   16.857275    ...
2016-03-21  44.991379  23.287228  48.465508  49.980797   16.838062    ...
2016-03-28  45.140705  23.423882  48.798588  50.091850   16.895689    ...
2016-04-04  45.583881  23.587875  49.063564  50.510719   16.950464    ...
2016-04-11  45.639999  23.624327  49.097710  50.501457   16.940845    ...
2016-04-18  45.639999  23.634533  48.959236  50.510719   16.998537    ...
2016-04-25  45.752239  23.671080  49.167027  50.603443   16.998537    ...
2016-05-02  45.770927  23.744165  49.288239  50.649807   16.969694    ...
2016-05-09  46.078274  23.826389  49.490860  50.897926   17.004309    ...
2016-05-16  45.890881  23.842833  49.268803  50.702843   17.004309    ...
2016-05-23  45.703503  23.861151  49.476181  50.479881   16.975441    ...
2016-05-30  45.778469  23.943590  49.639355  50.674969   16.994692    ...
2016-06-06  46.050774  24.071831  49.741341  50.854858   17.011086    ...
2016-06-13  46.369926  24.117624  50.075108  51.143372   17.049610    ...
2016-06-20  46.595184  24.253317  50.186375  51.236446   17.097771    ...
2016-06-27  46.632759  24.381886  50.168495  51.217838   17.088142    ...
2016-07-04  46.788822  24.427799  50.230740  51.448067   17.103580    ...
2016-07-11  46.469147  24.207399  50.206570  51.224247   17.055367    ...
2016-07-18  46.469147  24.194578  50.070938  51.214920   17.113218    ...
2016-07-25  46.619595  24.249817  50.394077  51.410751   17.142147    ...
...               ...        ...        ...        ...         ...    ...
2018-10-22  45.781281  24.154526  51.172836  51.385479   17.004526    ...
2018-10-29  45.366173  24.063744  50.859188  51.040936   16.954926    ...
2018-11-05  45.836998  24.192057  51.174957  51.346287   16.987602    ...
2018-11-12  45.955849  24.290760  51.194698  51.444946   17.047207    ...
2018-11-19  46.114319  24.300631  51.135487  51.553482   17.086945    ...
2018-11-26  46.312397  24.416452  51.523830  51.800148   17.126680    ...
2018-12-03  46.817520  24.634193  51.919407  51.997482   17.156487    ...
2018-12-10  46.750031  24.604502  51.919407  52.037537   17.188353    ...
2018-12-17  47.127129  24.703472  51.968853  52.255150   17.208242    ...
2018-12-24  47.166821  24.713369  52.205219  52.235363  661.473022    ...
2018-12-31  47.236282  24.865206  52.175488  52.433624   17.218193    ...
2019-01-07  47.206516  24.885050  52.334076  52.493080   17.238087    ...
2019-01-14  47.355370  24.835440  52.343987  52.433624   17.297768    ...
2019-01-21  47.266060  24.696526  52.165573  52.473263   17.297768    ...
2019-01-28  47.315678  24.930944  52.421516  52.552540   17.317663    ...
2019-02-04  47.628498  25.070225  52.689732  52.929482   17.351515    ...
2019-02-11  47.727928  25.050327  52.749336  53.018890   17.371437    ...
2019-02-18  47.807480  25.020479  52.679798  53.088428   17.381397    ...
2019-02-25  47.668266  25.095211  52.772141  52.929482   17.381397    ...
2019-03-04  48.033638  25.244823  53.035973  53.282597   17.453154    ...
2019-03-11  48.083443  25.284721  53.155445  53.332394   17.443180    ...
2019-03-18  48.422127  25.484205  53.434212  53.660984   17.493046    ...
2019-03-25  48.611389  25.593924  53.731869  53.740650   17.512991    ...
2019-04-01  48.442051  25.524103  53.652046  53.491711   17.463127    ...
2019-04-08  48.487629  25.514130  53.662022  53.685764   17.457066    ...
2019-04-15  48.557495  25.563999  53.701935  53.745636   17.497013    ...
2019-04-22  48.807022  25.683691  53.801716  54.015064   17.507002    ...
2019-04-29  48.787060  25.799999  54.090000  53.955189   17.487026    ...
2019-05-06  49.150002  25.940001  54.290001  54.119999   17.530001    ...
2019-05-13  49.299999  26.020000  54.450001  54.250000   17.549999    ...

                 BSCN       IBDO       IBDP       BSCO       IBDQ       BSCP  \
Date
2016-01-04  18.311974  22.142843  21.834904  18.109472  21.713795  18.107494
2016-01-11  18.211851  22.033504  21.824947  18.036995  21.673229  17.962126
2016-01-18  18.139042  21.935995  21.626694  17.948215  21.560564  17.943956
2016-01-25  18.248255  22.088173  21.735325  18.100410  21.668730  18.071154
2016-02-01  18.248255  21.997047  21.635742  18.000753  21.668730  18.034811
2016-02-08  18.245525  22.105534  21.745316  17.959669  21.750086  17.966488
2016-02-15  18.291134  22.132935  21.808868  17.991455  21.726587  18.027464
2016-02-22  18.409731  22.306482  21.972300  18.168510  21.894730  18.230436
2016-02-29  18.427980  22.291880  21.827028  18.141268  21.849522  18.184917
2016-03-07  18.473589  22.361290  21.972300  18.259300  21.928173  18.262289
2016-03-14  18.710781  22.617064  22.275555  18.459061  22.229208  18.453419
2016-03-21  18.747274  22.671864  22.359083  18.577093  22.310562  18.567186
2016-03-28  18.874996  22.772354  22.494368  18.695127  22.459723  18.685509
2016-04-04  19.037710  23.012051  22.671875  18.837063  22.634666  18.839735
2016-04-11  19.037710  22.970823  22.671875  18.864376  22.702667  18.857983
2016-04-18  19.065145  23.044102  22.644564  18.837063  22.602934  18.876242
2016-04-25  19.138294  23.099054  22.872192  18.940849  22.738939  18.985775
2016-05-02  19.110859  23.108212  22.862173  18.955420  22.711733  18.995813
2016-05-09  19.192369  23.164238  22.977175  19.047638  22.863476  19.054350
2016-05-16  19.075056  22.989798  22.785465  18.938114  22.681665  18.881542
2016-05-23  19.109884  23.054066  22.840242  18.992868  22.718021  18.927258
2016-05-30  19.256527  23.210152  23.022814  19.116083  22.918022  19.082695
2016-06-06  19.359661  23.359694  23.177851  19.252781  23.084318  19.221428
2016-06-13  19.359661  23.355097  23.205307  19.203360  23.056971  19.163683
2016-06-20  19.423983  23.447149  23.260233  19.280226  23.157257  19.264494
2016-06-27  19.552622  23.594444  23.342619  19.435781  23.357828  19.465216
2016-07-04  19.736845  23.784384  23.588408  19.631201  23.523285  19.615078
2016-07-11  19.598696  23.664402  23.368122  19.447731  23.377003  19.458893
2016-07-18  19.653952  23.719782  23.496622  19.539465  23.450140  19.578329
2016-07-25  19.728554  23.775162  23.625118  19.667896  23.651272  19.651825
...               ...        ...        ...        ...        ...        ...
2018-10-22  19.821894  23.726868  23.527266  19.632687  23.277643  19.254341
2018-10-29  19.766829  23.569801  23.321402  19.513544  23.091501  19.232571
2018-11-05  19.791489  23.693615  23.401793  19.595303  23.200253  19.271982
2018-11-12  19.835873  23.713303  23.421455  19.587423  23.170771  19.255232
2018-11-19  19.763868  23.703459  23.396875  19.523394  23.219900  19.212866
2018-11-26  19.795334  23.693615  23.382128  19.567667  23.180595  19.225594
2018-12-03  19.844769  23.683773  23.362461  19.621992  23.219900  19.334270
2018-12-10  19.894211  23.807123  23.500465  19.617056  23.305771  19.363909
2018-12-17  19.923872  23.767641  23.431437  19.705956  23.250574  19.354029
2018-12-24  19.923872  23.943649  23.620123  19.676321  23.456852  19.324389
2018-12-31  20.001299  23.973331  23.679447  19.814102  23.565588  19.546516
2019-01-07  20.100563  24.012909  23.768431  19.923244  23.664436  19.665581
2019-01-14  20.170044  24.062378  23.807980  20.012541  23.703974  19.774725
2019-01-21  20.179970  24.181108  23.956284  20.012541  23.842365  19.814411
2019-01-28  20.370064  24.280050  24.079872  20.239391  24.010408  20.013491
2019-02-04  20.439724  24.375971  24.215359  20.326948  24.140894  20.096064
2019-02-11  20.449673  24.405737  24.195528  20.346848  24.140894  20.115959
2019-02-18  20.429771  24.455339  24.245108  20.302074  24.180550  20.066217
2019-02-25  20.473612  24.385891  24.195528  20.347843  24.130981  20.107981
2019-03-04  20.578350  24.591572  24.395193  20.447588  24.341545  20.237646
2019-03-11  20.628225  24.681107  24.494640  20.514416  24.440981  20.312450
2019-03-18  20.727976  24.850224  24.693542  20.657051  24.659737  20.427155
2019-03-25  20.747923  24.880068  24.743267  20.677000  24.729340  20.506948
2019-04-01  20.698050  24.770638  24.633871  20.637102  24.600075  20.472038
2019-04-08  20.718000  24.826204  24.714344  20.677000  24.700422  20.457077
2019-04-15  20.718000  24.826204  24.704370  20.677000  24.660534  20.487001
2019-04-22  20.727976  24.915974  24.804106  20.716898  24.850000  20.516922
2019-04-29  20.760000  24.836180  24.744265  20.740000  24.720366  20.559999
2019-05-06  20.799999  24.940001  24.850000  20.790001  24.870001  20.610001
2019-05-13  20.830000  24.959999  24.920000  20.820000  24.920000  20.639999

                 IBDC       IBCD       IBDD       IBCE
Date
2016-01-04  23.505651  22.433910  22.642328  21.123028
2016-01-11  23.480749  22.337830  23.089710  21.182526
2016-01-18  23.521507  22.351561  22.441544  21.050304
2016-01-25  23.503393  22.333260  22.633593  21.083361
2016-02-01  23.521507  22.312672  22.445911  20.946728
2016-02-08  23.574068  22.509525  22.699579  21.279377
2016-02-15  23.642515  22.509525  22.681942  21.328333
2016-02-22  23.843330  22.569433  22.864916  21.501896
2016-02-29  23.799969  22.560215  22.909002  21.417337
2016-03-07  24.047993  22.639870  23.219551  21.605604
2016-03-14  24.103189  22.950954  23.440094  21.920061
2016-03-21  24.231987  23.002029  23.426731  21.956007
2016-03-28  24.266485  22.981134  23.562628  22.086275
2016-04-04  24.544020  23.334143  23.899309  22.440851
2016-04-11  24.437428  23.287392  23.946575  22.445387
2016-04-18  24.472193  23.294401  23.984819  22.422716
2016-04-25  24.395723  23.329472  24.131100  22.481657
2016-05-02  24.444384  23.313108  24.101843  22.483921
2016-05-09  24.666098  23.514046  24.422729  22.715284
2016-05-16  24.523722  23.396362  24.236336  22.550566
2016-05-23  24.449034  23.309265  24.279526  22.580305
2016-05-30  24.533054  23.438730  24.218161  22.708427
2016-06-06  24.807583  23.579767  24.724674  23.041811
2016-06-13  24.835802  23.627165  24.811911  23.085682
2016-06-20  24.859324  23.643761  24.791254  23.134157
2016-06-27  24.920471  23.795425  25.011635  23.157249
2016-07-04  25.118647  23.848921  25.415230  23.523695
2016-07-11  25.031464  23.680391  25.127577  23.266851
2016-07-18  25.057381  23.668516  25.169001  23.327009
2016-07-25  25.003193  23.841797  25.249538  23.426512
...               ...        ...        ...        ...
2018-10-22  25.561338  24.095358  25.197502  23.111017
2018-10-29  25.502142  24.095358  24.981300  22.973276
2018-11-05  25.591938  24.134926  25.143566  23.029278
2018-11-12  25.631479  24.154728  25.045040  23.127907
2018-11-19  25.651249  24.164635  25.133713  23.137764
2018-11-26  25.641363  24.115118  25.104156  23.078588
2018-12-03  25.591938  24.154728  25.074598  23.058865
2018-12-10  25.660181  24.183559  25.190100  23.192276
2018-12-17  25.640373  24.183559  25.160461  23.182394
2018-12-24  25.727634  24.242176  25.339622  23.309174
2018-12-31  25.727634  24.281919  25.309902  23.358725
2019-01-07  25.747477  24.242176  25.448591  23.378544
2019-01-14  25.747477  24.291857  25.458494  23.438005
2019-01-21  25.826851  24.311726  25.567463  23.537111
2019-01-28  25.797085  24.311726  25.666521  23.606483
2019-02-04  25.826830  24.350489  25.808304  23.711569
2019-02-11  25.876537  24.370392  25.798376  23.691704
2019-02-18  25.876537  24.380342  25.848024  23.751305
2019-02-25  25.876537  24.360437  25.808304  23.681768
2019-03-04  25.888451  24.421194  26.005270  23.804136
2019-03-11  25.928295  24.411226  26.025175  23.883781
2019-03-18  25.978100  24.461065  26.204317  24.023161
2019-03-25  25.968138  24.441130  26.264030  24.033117
2019-04-01  25.948215  24.431162  26.124699  23.943516
2019-04-08  25.979118  24.490049  26.187214  23.987221
2019-04-15  25.979118  24.460098  26.177238  23.987221
2019-04-22  26.009058  24.510015  26.267023  24.057066
2019-04-29  25.979118  24.470083  26.157286  23.997196
2019-05-06  26.049999  24.530001  26.280001  24.100000
2019-05-13  26.030001  24.530001  26.350000  24.129999

[176 rows x 35 columns]

In [12]:
etf_week_return = etf_week/etf_week.shift(1)
etf_week_return = etf_week_return.drop(index = "2016-01-04" , axis = 0)
etf_week_return

                 MUB      VTEB       SHM       TFI       SUB       ITM  \
Date
2016-01-11  1.000449  0.998442  1.002051  0.997968  0.998587  1.000413
2016-01-18  0.999551  1.000195  0.999591  1.002443  1.001981  1.000413
2016-01-25  1.002336  0.999415  1.001638  1.000812  1.000471  1.002476
2016-02-01  1.000807  1.004097  1.002862  1.001623  1.000470  1.002470
2016-02-08  1.003984  1.002826  1.001999  1.004970  1.001173  1.004407
2016-02-15  0.998391  0.998448  1.000000  1.000000  1.000094  0.999590
2016-02-22  0.997135  0.996308  0.997558  0.994753  0.999718  0.993443
2016-02-29  0.993984  0.996099  0.995104  0.993104  0.998026  0.989274
2016-03-07  1.002537  1.001777  1.001680  1.000136  0.999528  1.002988
2016-03-14  1.002528  1.003132  0.999386  1.002453  1.000189  1.003748
2016-03-21  1.000090  1.000000  0.999795  1.000816  1.000094  1.000000
2016-03-28  1.002881  1.003317  0.998975  1.003260  0.998869  1.003319
2016-04-04  1.008650  1.006152  1.003407  1.009925  1.001184  1.009818
2016-04-11  1.000803  1.001548  1.001228  1.001410  1.000472  1.001231
2016-04-18  0.998130  0.999227  0.999591  0.998793  1.000188  1.000000
2016-04-25  1.001428  1.002321  1.000000  1.002014  1.001037  1.002459
2016-05-02  1.001248  1.001157  1.000613  1.001206  1.000753  1.000408
2016-05-09  1.005624  1.004073  1.002702  1.007664  1.001142  1.006715
2016-05-16  0.996808  0.998078  0.998775  0.996601  0.998683  0.995933
2016-05-23  0.998310  0.997689  0.997752  0.996990  0.998682  0.995917
2016-05-30  1.001515  1.003667  1.000000  1.001409  1.000283  1.001640
2016-06-06  1.006911  1.005796  1.003012  1.007994  1.001682  1.005948
2016-06-13  1.004514  1.003254  1.001635  1.006391  1.001224  1.006930
2016-06-20  1.002291  1.006295  1.001428  1.002580  1.001787  1.004858
2016-06-27  1.000791  0.998673  1.000000  1.001979  0.998498  1.000806
2016-07-04  1.003183  1.003174  1.000021  1.003741  1.001172  1.003347
2016-07-11  0.994999  0.993369  1.000204  0.992508  0.999436  0.993168
2016-07-18  0.999030  0.998665  1.000204  0.998808  1.000940  1.000000
2016-07-25  1.003177  1.005538  1.002649  1.004375  1.001127  1.003238
2016-08-01  0.995249  0.993922  0.997765  0.994455  0.998968  0.995159
...              ...       ...       ...       ...       ...       ...
2018-10-22  1.003272  1.003794  1.001684  1.002125  1.000957  1.006519
2018-10-29  0.993198  0.991645  0.996428  0.988976  0.997800  0.990933
2018-11-05  1.005132  1.006359  1.002129  1.007095  1.002225  1.010378
2018-11-12  1.004303  1.004594  1.002527  1.007464  1.001533  1.002593
2018-11-19  1.002049  1.001790  1.002521  1.001905  1.001722  1.003448
2018-11-26  1.004276  1.003176  1.001467  1.005705  1.001623  1.004295
2018-12-03  1.005276  1.004551  1.003557  1.002311  1.001907  1.010907
2018-12-10  0.999928  1.002200  1.002217  1.002189  1.001804  0.998558
2018-12-17  1.003045  1.004726  1.000833  1.005867  1.001046  1.008066
2018-12-24  1.004246  1.000588  1.001709  1.003199  1.001551  1.000842
2018-12-31  1.000826  1.001630  0.999376  1.001664  1.000855  1.001473
2019-01-07  0.999083  1.001372  1.002289  1.001246  1.002183  0.999370
2019-01-14  1.000367  1.000196  1.001038  1.001452  0.997822  1.003153
2019-01-21  1.000092  0.999609  0.999170  0.997721  1.001329  0.998114
2019-01-28  1.000918  1.000783  1.001038  1.002284  0.999810  1.001050
2019-02-04  1.006001  1.006990  1.002553  1.007486  1.002438  1.006611
2019-02-11  1.001096  1.000195  0.999793  0.998970  1.000095  1.002088
2019-02-18  1.002098  1.001946  1.001657  1.002475  1.000758  1.001667
2019-02-25  0.997542  0.996893  0.999173  0.998149  0.998675  0.997088
2019-03-04  1.006553  1.007158  1.001759  1.005904  1.002732  1.007665
2019-03-11  1.001090  1.001357  1.001034  1.003490  1.000378  1.001037
2019-03-18  1.007534  1.006774  1.001447  1.005115  1.000851  1.007044
2019-03-25  1.001712  1.002499  1.000413  1.003053  1.001701  1.003909
2019-04-01  0.995953  0.996357  0.998762  0.996347  0.998585  0.996516
2019-04-08  1.001485  1.001844  1.000702  1.000565  1.000547  1.000941
2019-04-15  1.001807  1.000962  1.000413  1.000204  1.000284  1.001441
2019-04-22  1.005592  1.005385  1.000826  1.006728  1.001040  1.005139
2019-04-29  0.999731  0.999426  0.998968  1.001418  0.998961  0.999591
2019-05-06  1.005977  1.007132  1.003058  1.005692  1.002118  1.007439
2019-05-13  1.002771  1.001523  1.000619  1.002015  1.001417  1.003052

                 PZA       FMB      MUNI        SMB    ...         BSCN  \
Date                                                   ...
2016-01-11  0.998055  1.004748  0.996510   0.999430    ...     0.994532
2016-01-18  1.001766  0.999085  1.001106   1.001710    ...     0.996002
2016-01-25  1.001171  1.003529  1.001104   1.001139    ...     1.006021
2016-02-01  1.002729  1.005333  0.999632   1.003411    ...     1.000000
2016-02-08  1.000000  1.003600  1.006451   1.000400    ...     0.999850
2016-02-15  1.000484  1.003209  1.002747   1.003402    ...     1.002500
2016-02-22  0.993765  0.993790  0.992329   0.995480    ...     1.006484
2016-02-29  0.994902  0.997238  0.994110   0.998864    ...     1.000991
2016-03-07  1.005124  1.001142  1.002528   0.999769    ...     1.002475
2016-03-14  1.003137  1.001900  1.001295   0.998294    ...     1.012840
2016-03-21  1.001972  0.998103  0.998152   0.998860    ...     1.001950
2016-03-28  1.005868  1.006873  1.002222   1.003422    ...     1.006813
2016-04-04  1.007001  1.005430  1.008362   1.003242    ...     1.008621
2016-04-11  1.001545  1.000696  0.999817   0.999433    ...     1.000000
2016-04-18  1.000432  0.997180  1.000183   1.003405    ...     1.001441
2016-04-25  1.001546  1.004244  1.001836   1.000000    ...     1.003837
2016-05-02  1.003088  1.002465  1.000916   0.998303    ...     0.998566
2016-05-09  1.003463  1.004111  1.004899   1.002040    ...     1.004265
2016-05-16  1.000690  0.995513  0.996167   1.000000    ...     0.993888
2016-05-23  1.000768  1.004209  0.995603   0.998302    ...     1.001826
2016-05-30  1.003455  1.003298  1.003865   1.001134    ...     1.007674
2016-06-06  1.005356  1.002055  1.003550   1.000965    ...     1.005356
2016-06-13  1.001902  1.006710  1.005673   1.002265    ...     1.000000
2016-06-20  1.005626  1.002222  1.001820   1.002825    ...     1.003322
2016-06-27  1.005301  0.999644  0.999637   0.999437    ...     1.006623
2016-07-04  1.001883  1.001241  1.004495   1.000903    ...     1.009422
2016-07-11  0.990977  0.999519  0.995650   0.997181    ...     0.993000
2016-07-18  0.999470  0.997299  0.999818   1.003392    ...     1.002819
2016-07-25  1.002283  1.006454  1.003824   1.001690    ...     1.003796
2016-08-01  0.995824  0.995899  0.996191   0.997188    ...     0.992951
...              ...       ...       ...        ...    ...          ...
2018-10-22  1.000408  1.001851  1.001535   1.001753    ...     1.003988
2018-10-29  0.996242  0.993871  0.993295   0.997083    ...     0.997222
2018-11-05  1.005332  1.006209  1.005982   1.001927    ...     1.001248
2018-11-12  1.004080  1.000386  1.001921   1.003509    ...     1.002243
2018-11-19  1.000406  0.998843  1.002110   1.002331    ...     0.996370
2018-11-26  1.004766  1.007594  1.004785   1.002325    ...     1.001592
2018-12-03  1.008918  1.007678  1.003810   1.001740    ...     1.002497
2018-12-10  0.998795  1.000000  1.000770   1.001857    ...     1.002491
2018-12-17  1.004022  1.000952  1.004182   1.001157    ...     1.001491
2018-12-24  1.000401  1.004548  0.999621  38.439314    ...     1.000000
2018-12-31  1.006144  0.999430  1.003796   0.026030    ...     1.003886
2019-01-07  1.000798  1.003040  1.001134   1.001155    ...     1.004963
2019-01-14  0.998006  1.000189  0.998867   1.003462    ...     1.003457
2019-01-21  0.994407  0.996592  1.000756   1.000000    ...     1.000492
2019-01-28  1.009492  1.004906  1.001511   1.001150    ...     1.009420
2019-02-04  1.005587  1.005117  1.007173   1.001955    ...     1.003420
2019-02-11  0.999206  1.001131  1.001689   1.001148    ...     1.000487
2019-02-18  0.998808  0.998682  1.001312   1.000573    ...     0.999027
2019-02-25  1.002987  1.001753  0.997006   1.000000    ...     1.002146
2019-03-04  1.005962  1.004999  1.006671   1.004128    ...     1.005116
2019-03-11  1.001580  1.002253  1.000935   0.999429    ...     1.002424
2019-03-18  1.007890  1.005244  1.006161   1.002859    ...     1.004836
2019-03-25  1.004305  1.005571  1.001485   1.001140    ...     1.000962
2019-04-01  0.997272  0.998514  0.995368   0.997153    ...     0.997596
2019-04-08  0.999609  1.000186  1.003628   0.999653    ...     1.000964
2019-04-15  1.001955  1.000744  1.001115   1.002288    ...     1.000000
2019-04-22  1.004682  1.001858  1.005013   1.000571    ...     1.000482
2019-04-29  1.004528  1.005358  0.998892   0.998859    ...     1.001545
2019-05-06  1.005426  1.003698  1.003055   1.002458    ...     1.001927
2019-05-13  1.003084  1.002947  1.002402   1.001141    ...     1.001442

                IBDO      IBDP      BSCO      IBDQ      BSCP      IBDC  \
Date
2016-01-11  0.995062  0.999544  0.995998  0.998132  0.991972  0.998941
2016-01-18  0.995575  0.990916  0.995078  0.994802  0.998988  1.001736
2016-01-25  1.006937  1.005023  1.008480  1.005017  1.007089  0.999230
2016-02-01  0.995874  0.995418  0.994494  1.000000  0.997989  1.000771
2016-02-08  1.004932  1.005064  0.997718  1.003755  0.996212  1.002235
2016-02-15  1.001240  1.002923  1.001770  0.998920  1.003394  1.002903
2016-02-22  1.007841  1.007494  1.009841  1.007739  1.011259  1.008494
2016-02-29  0.999345  0.993388  0.998501  0.997935  0.997503  0.998181
2016-03-07  1.003114  1.006656  1.006506  1.003600  1.004255  1.010421
2016-03-14  1.011438  1.013802  1.010940  1.013728  1.010466  1.002295
2016-03-21  1.002423  1.003750  1.006394  1.003660  1.006165  1.005344
2016-03-28  1.004432  1.006051  1.006354  1.006686  1.006373  1.001424
2016-04-04  1.010526  1.007891  1.007592  1.007789  1.008254  1.011437
2016-04-11  0.998208  1.000000  1.001450  1.003004  1.000969  0.995657
2016-04-18  1.003190  0.998795  0.998552  0.995607  1.000968  1.001423
2016-04-25  1.002385  1.010052  1.005510  1.006017  1.005803  0.996875
2016-05-02  1.000396  0.999562  1.000769  0.998804  1.000529  1.001995
2016-05-09  1.002425  1.005030  1.004865  1.006681  1.003082  1.009070
2016-05-16  0.992469  0.991657  0.994250  0.992048  0.990931  0.994228
2016-05-23  1.002796  1.002404  1.002891  1.001603  1.002421  0.996954
2016-05-30  1.006770  1.007993  1.006487  1.008804  1.008212  1.003437
2016-06-06  1.006443  1.006734  1.007151  1.007256  1.007270  1.011190
2016-06-13  0.999803  1.001185  0.997433  0.998815  0.996996  1.001138
2016-06-20  1.003941  1.002367  1.004003  1.004349  1.005261  1.000947
2016-06-27  1.006282  1.003542  1.008068  1.008661  1.010419  1.002460
2016-07-04  1.008050  1.010530  1.010055  1.007084  1.007699  1.007952
2016-07-11  0.994955  0.990661  0.990654  0.993781  0.992038  0.996529
2016-07-18  1.002340  1.005499  1.004717  1.003129  1.006138  1.001035
2016-07-25  1.002335  1.005469  1.006573  1.008577  1.003754  0.997837
2016-08-01  0.990295  0.987568  0.988806  0.986858  0.990182  0.999246
...              ...       ...       ...       ...       ...       ...
2018-10-22  1.003738  1.005446  1.001002  1.003378  0.998013  1.000386
2018-10-29  0.993380  0.991250  0.993931  0.992003  0.998869  0.997684
2018-11-05  1.005253  1.003447  1.004190  1.004710  1.002049  1.003521
2018-11-12  1.000831  1.000840  0.999598  0.998729  0.999131  1.001545
2018-11-19  0.999585  0.998951  0.996731  1.002120  0.997800  1.000771
2018-11-26  0.999585  0.999370  1.002268  0.998307  1.000662  0.999615
2018-12-03  0.999585  0.999159  1.002776  1.001696  1.005653  0.998072
2018-12-10  1.005208  1.005907  0.999748  1.003698  1.001533  1.002667
2018-12-17  0.998342  0.997063  1.004532  0.997632  0.999490  0.999228
2018-12-24  1.007405  1.008053  0.998496  1.008872  0.998469  1.003403
2018-12-31  1.001240  1.002512  1.007002  1.004636  1.011495  1.000000
2019-01-07  1.001651  1.003758  1.005508  1.004195  1.006091  1.000771
2019-01-14  1.002060  1.001664  1.004482  1.001671  1.005550  1.000000
2019-01-21  1.004934  1.006229  1.000000  1.005838  1.002007  1.003083
2019-01-28  1.004092  1.005159  1.011335  1.007048  1.010047  0.998847
2019-02-04  1.003951  1.005627  1.004326  1.005435  1.004126  1.001153
2019-02-11  1.001221  0.999181  1.000979  1.000000  1.000990  1.001925
2019-02-18  1.002032  1.002049  0.997799  1.001643  0.997527  1.000000
2019-02-25  0.997160  0.997955  1.002254  0.997950  1.002081  1.000000
2019-03-04  1.008434  1.008252  1.004902  1.008726  1.006448  1.000460
2019-03-11  1.003641  1.004076  1.003268  1.004085  1.003696  1.001539
2019-03-18  1.006852  1.008120  1.006953  1.008950  1.005647  1.001921
2019-03-25  1.001201  1.002014  1.000966  1.002823  1.003906  0.999617
2019-04-01  0.995602  0.995579  0.998070  0.994773  0.998298  0.999233
2019-04-08  1.002243  1.003267  1.001933  1.004079  0.999269  1.001191
2019-04-15  1.000000  0.999596  1.000000  0.998385  1.001463  1.000000
2019-04-22  1.003616  1.004037  1.001930  1.007683  1.001460  1.001152
2019-04-29  0.996797  0.997587  1.001115  0.994783  1.002100  0.998849
2019-05-06  1.004180  1.004273  1.002411  1.006053  1.002432  1.002728
2019-05-13  1.000802  1.002817  1.001443  1.002010  1.001456  0.999232

                IBCD      IBDD      IBCE
Date
2016-01-11  0.995717  1.019759  1.002817
2016-01-18  1.000615  0.971928  0.993758
2016-01-25  0.999181  1.008558  1.001570
2016-02-01  0.999078  0.991708  0.993519
2016-02-08  1.008822  1.011301  1.015881
2016-02-15  1.000000  0.999223  1.002301
2016-02-22  1.002661  1.008067  1.008138
2016-02-29  0.999592  1.001928  0.996067
2016-03-07  1.003531  1.013556  1.008790
2016-03-14  1.013741  1.009498  1.014554
2016-03-21  1.002225  0.999430  1.001640
2016-03-28  0.999092  1.005801  1.005933
2016-04-04  1.015361  1.014289  1.016054
2016-04-11  0.997996  1.001978  1.000202
2016-04-18  1.000301  1.001597  0.998990
2016-04-25  1.001506  1.006099  1.002629
2016-05-02  0.999299  0.998788  1.000101
2016-05-09  1.008619  1.013314  1.010290
2016-05-16  0.994995  0.992368  0.992749
2016-05-23  0.996277  1.001782  1.001319
2016-05-30  1.005554  0.997473  1.005674
2016-06-06  1.006017  1.020915  1.014681
2016-06-13  1.002010  1.003528  1.001904
2016-06-20  1.000702  0.999167  1.002100
2016-06-27  1.006415  1.008889  1.000998
2016-07-04  1.002248  1.016136  1.015824
2016-07-11  0.992933  0.988682  0.989081
2016-07-18  0.999499  1.001649  1.002586
2016-07-25  1.007321  1.003200  1.004266
2016-08-01  0.994027  0.991979  0.989333
...              ...       ...       ...
2018-10-22  1.000411  1.004702  1.004275
2018-10-29  1.000000  0.991420  0.994040
2018-11-05  1.001642  1.006495  1.002438
2018-11-12  1.000820  0.996081  1.004283
2018-11-19  1.000410  1.003541  1.000426
2018-11-26  0.997951  0.998824  0.997442
2018-12-03  1.001643  0.998823  0.999145
2018-12-10  1.001194  1.004606  1.005786
2018-12-17  1.000000  0.998823  0.999574
2018-12-24  1.002424  1.007121  1.005469
2018-12-31  1.001639  0.998827  1.002126
2019-01-07  0.998363  1.005480  1.000848
2019-01-14  1.002049  1.000389  1.002543
2019-01-21  1.000818  1.004280  1.004228
2019-01-28  1.000000  1.003874  1.002947
2019-02-04  1.001594  1.005524  1.004452
2019-02-11  1.000817  0.999615  0.999162
2019-02-18  1.000408  1.001924  1.002516
2019-02-25  0.999184  0.998463  0.997072
2019-03-04  1.002494  1.007632  1.005167
2019-03-11  0.999592  1.000765  1.003346
2019-03-18  1.002042  1.006883  1.005836
2019-03-25  0.999185  1.002279  1.000414
2019-04-01  0.999592  0.994695  0.996272
2019-04-08  1.002410  1.002393  1.001825
2019-04-15  0.998777  0.999619  1.000000
2019-04-22  1.002041  1.003430  1.002912
2019-04-29  0.998371  0.995822  0.997511
2019-05-06  1.002449  1.004691  1.004284
2019-05-13  1.000000  1.002664  1.001245

[175 rows x 35 columns]

In [15]:
etf_month_return = etf_month/etf_month.shift(1)
etf_month_return = etf_month_return.drop(index = "2016-01-01" , axis = 0)
etf_month_return

                 MUB      VTEB       SHM       TFI       SUB       ITM  \
Date
2016-02-01  0.998207  1.001756  1.002453  1.000811  1.001693  0.998353
2016-03-01  1.004619  1.003415  0.995880  1.001320  0.997508  1.000699
2016-04-01  1.006837  1.008781  1.002498  1.009271  1.001225  1.011662
2016-05-01  1.002618  1.002250  0.998897  1.000780  0.999204  0.999486
2016-06-01  1.016060  1.017199  1.006807  1.021607  1.003408  1.019867
2016-07-01  0.999544  1.000034  1.003205  0.999971  1.002715  0.999831
2016-08-01  1.001334  1.000322  0.999412  1.002159  0.999762  1.001330
2016-09-01  0.994286  0.993603  0.995049  0.992962  0.996218  0.994097
2016-10-01  0.990404  0.992389  0.996930  0.987819  0.999648  0.989517
2016-11-01  0.959036  0.962077  0.982344  0.957394  0.988449  0.945213
2016-12-01  1.015672  1.012704  1.003671  1.005071  1.004993  1.013658
2017-01-01  1.005890  1.005612  1.009220  1.010329  1.003161  1.012109
2017-02-01  1.003319  1.004565  1.003314  1.003986  1.004179  1.004277
2017-03-01  1.003103  1.002045  1.000809  1.003084  0.999454  1.000222
2017-04-01  1.005548  1.005401  1.003120  1.007802  1.001790  1.010296
2017-05-01  1.015292  1.015315  1.006167  1.018654  1.004185  1.020192
2017-06-01  0.995893  0.997652  0.994733  0.995329  0.998012  0.995621
2017-07-01  1.008686  1.008113  1.006599  1.009391  1.003612  1.009873
2017-08-01  1.008074  1.008292  1.004693  1.007549  1.003389  1.008365
2017-09-01  0.995745  0.995271  0.994274  0.993046  0.996954  0.992788
2017-10-01  1.000838  1.001502  0.998780  1.001971  0.998495  1.003107
2017-11-01  0.995376  0.997013  0.989370  0.994000  0.994214  0.994760
2017-12-01  1.008209  1.006812  1.000220  1.010718  0.999242  1.007633
2018-01-01  0.990467  0.990490  1.003885  0.989031  1.003829  0.987883
2018-02-01  0.992144  0.991976  0.999375  0.989847  0.998477  0.989447
2018-03-01  1.004800  1.004314  0.997517  1.007238  1.000657  1.005793
2018-04-01  0.993153  0.995924  0.997149  0.994441  0.995992  0.994131
2018-05-01  1.012492  1.011747  1.005733  1.011272  1.005846  1.013588
2018-06-01  1.001288  1.000862  1.003728  0.998956  1.002257  0.999853
2018-07-01  1.001377  1.002808  1.003367  1.001832  1.003489  1.002419
2018-08-01  1.001590  1.001199  0.999793  1.003153  0.999898  1.004037
2018-09-01  0.993181  0.992337  0.994535  0.990180  0.996952  0.988428
2018-10-01  0.994309  0.995041  0.997873  0.991748  0.998590  0.992966
2018-11-01  1.010997  1.009494  1.006398  1.014753  1.005499  1.014123
2018-12-01  1.011589  1.012250  1.006730  1.012885  1.006134  1.017298
2019-01-01  1.007956  1.008750  1.006429  1.010606  1.004878  1.010604
2019-02-01  1.003289  1.003704  1.002901  1.002477  0.999905  1.003759
2019-03-01  1.014737  1.015133  1.002754  1.016737  1.004997  1.017416
2019-04-01  1.005409  1.004577  1.001964  1.005844  1.000742  1.004072
2019-05-01  1.008048  1.007977  1.001528  1.007256  1.002249  1.009961

                 PZA       FMB      MUNI       SMB    ...         BSCN  \
Date                                                  ...
2016-02-01  0.999420  1.006314  1.000000  1.005116    ...     1.009476
2016-03-01  1.009885  1.005670  0.999448  0.997571    ...     1.025626
2016-04-01  1.009378  1.006733  1.008252  1.004314    ...     1.010623
2016-05-01  1.007784  1.007616  0.998763  0.998701    ...     1.001366
2016-06-01  1.021864  1.011779  1.014487  1.006013    ...     1.019508
2016-07-01  0.995025  1.005487  1.002624  1.003788    ...     1.009705
2016-08-01  1.000990  1.003861  1.003037  1.000340    ...     1.002310
2016-09-01  0.992492  0.996801  0.995772  0.994705    ...     1.000375
2016-10-01  0.991587  0.989091  0.990728  0.998067    ...     0.989425
2016-11-01  0.957223  0.957454  0.967472  0.969078    ...     0.975787
2016-12-01  1.014342  1.010406  1.002118  1.007367    ...     0.998817
2017-01-01  1.009403  1.008316  1.007466  1.015883    ...     1.015592
2017-02-01  1.005696  1.006229  1.005134  1.002299    ...     1.004850
2017-03-01  0.998142  1.004668  1.003138  1.001552    ...     1.001077
2017-04-01  1.002986  1.008517  1.007728  1.003155    ...     1.011184
2017-05-01  1.022358  1.013643  1.010084  1.006756    ...     1.009477
2017-06-01  0.999129  1.003235  0.998615  0.994144    ...     0.999681
2017-07-01  1.008884  1.005492  1.006683  1.007957    ...     1.010315
2017-08-01  1.006909  1.009268  1.007638  1.003877    ...     1.003856
2017-09-01  0.995945  0.999997  0.997915  0.994782    ...     0.998395
2017-10-01  1.002146  1.002684  1.001743  1.001022    ...     1.002129
2017-11-01  0.999747  0.998632  0.993424  0.987894    ...     0.994159
2017-12-01  1.016440  1.010520  1.007949  0.997556    ...     0.996731
2018-01-01  0.984232  0.986753  0.992184  1.005631    ...     0.997682
2018-02-01  0.990714  0.996222  0.995096  0.996532    ...     0.989581
2018-03-01  1.006993  1.003872  1.002649  0.999996    ...     1.000959
2018-04-01  0.995496  0.997092  0.998710  0.992907    ...     0.995176
2018-05-01  1.012313  1.009546  1.007421  1.008783    ...     1.003354
2018-06-01  0.999063  1.001396  1.001774  1.004081    ...     0.998375
2018-07-01  1.004263  1.004431  1.001951  1.004761    ...     1.005006
2018-08-01  1.001068  1.000809  1.001592  0.997808    ...     1.006293
2018-09-01  0.989418  0.992828  0.996016  0.996051    ...     0.998526
2018-10-01  0.990976  0.994384  0.993956  1.001276    ...     0.995781
2018-11-01  1.009738  1.007500  1.010181  1.005365    ...     0.999204
2018-12-01  1.015330  1.012182  1.008419  1.004826    ...     1.009953
2019-01-01  1.006544  1.005688  1.012752  1.008223    ...     1.020311
2019-02-01  1.005842  1.007422  1.003380  1.004018    ...     1.004472
2019-03-01  1.022512  1.016898  1.012389  1.005387    ...     1.015078
2019-04-01  1.004287  1.004629  1.005873  0.999549    ...     1.000481
2019-05-01  1.012308  1.010925  1.003801  1.002511    ...     1.003473

                IBDO      IBDP      BSCO      IBDQ      BSCP      IBDC  \
Date
2016-02-01  1.010726  1.010829  1.003003  1.012479  1.009050  1.008188
2016-03-01  1.024534  1.024455  1.031764  1.024347  1.025472  1.017298
2016-04-01  1.007189  1.013312  1.010841  1.008850  1.012412  1.004474
2016-05-01  0.998309  1.001634  1.002529  1.002545  0.998540  1.005416
2016-06-01  1.026378  1.022175  1.023181  1.025076  1.024903  1.020391
2016-07-01  1.004625  1.009030  1.012520  1.012271  1.011831  1.004708
2016-08-01  1.000628  0.999160  0.997827  0.996963  0.999648  1.003317
2016-09-01  0.999494  0.998830  1.002807  0.995723  0.999053  0.998389
2016-10-01  0.989999  0.989852  0.988003  0.987895  0.986830  0.997991
2016-11-01  0.973298  0.969412  0.972287  0.969448  0.966525  0.993076
2016-12-01  1.003294  1.001013  1.000862  0.997855  0.998634  0.999857
2017-01-01  1.010775  1.010584  1.012253  1.012002  1.011103  1.007909
2017-02-01  1.004019  1.006902  1.007321  1.009588  1.008656  1.000381
2017-03-01  0.999729  1.000706  0.999292  0.999824  0.999435  0.999496
2017-04-01  1.010577  1.010488  1.008715  1.011333  1.011778  1.002982
2017-05-01  1.009722  1.009992  1.013239  1.010545  1.011799  1.004438
2017-06-01  0.999344  1.000419  0.998540  0.999262  0.999246  1.000233
2017-07-01  1.009298  1.007916  1.010864  1.009946  1.009995  1.005955
2017-08-01  1.005270  1.009886  1.008178  1.009348  1.008259  1.002936
2017-09-01  0.999298  0.995158  0.994890  0.995661  0.995749  0.997951
2017-10-01  1.000466  1.003842  1.005288  1.003969  1.003651  0.999421
2017-11-01  0.993344  0.997498  0.996284  0.995621  0.995377  0.999461
2017-12-01  1.001616  1.001465  1.001813  1.004354  1.004302  0.999038
2018-01-01  0.994991  0.993625  0.992425  0.990735  0.991636  1.000722
2018-02-01  0.989126  0.986683  0.987391  0.983022  0.979922  0.997309
2018-03-01  0.999157  1.000170  0.998149  1.003177  1.003760  1.000536
2018-04-01  0.995978  0.990785  0.992572  0.987977  0.991336  1.001815
2018-05-01  1.006249  1.007706  1.009414  1.007046  1.005031  1.003287
2018-06-01  0.997176  0.996370  0.995613  0.999427  0.999356  0.998651
2018-07-01  1.003950  1.005315  1.005686  1.006277  1.008457  1.006423
2018-08-01  1.005653  1.008110  1.006434  1.007403  1.005104  1.001820
2018-09-01  0.999145  0.996212  0.998517  0.994316  0.996085  1.000231
2018-10-01  0.993804  0.993241  0.994108  0.993140  0.989604  1.001001
2018-11-01  1.001808  0.999048  0.996925  0.999124  0.998909  1.002239
2018-12-01  1.007747  1.008087  1.010873  1.003433  1.013025  1.001971
2019-01-01  1.024445  1.029929  1.025104  1.040900  1.030870  1.007621
2019-02-01  1.000608  1.000000  1.004260  1.000000  1.001722  1.000384
2019-03-01  1.016544  1.019338  1.018218  1.021439  1.022420  1.002693
2019-04-01  1.001119  1.004118  1.002894  1.004974  1.002918  1.002769
2019-05-01  1.002244  1.003264  1.004010  1.002863  1.003559  0.999656

                IBCD      IBDD      IBCE
Date
2016-02-01  1.001946  1.000097  1.011080
2016-03-01  1.021999  1.030088  1.028718
2016-04-01  1.013127  1.024490  1.015770
2016-05-01  1.000360  1.004624  1.005209
2016-06-01  1.019699  1.023652  1.028380
2016-07-01  1.007127  1.025340  1.015106
2016-08-01  1.000054  0.995849  0.996295
2016-09-01  0.996010  1.000911  1.003795
2016-10-01  1.002007  0.994640  0.989875
2016-11-01  0.986753  0.975292  0.975232
2016-12-01  1.003159  1.000872  1.000164
2017-01-01  1.005311  1.009113  1.007653
2017-02-01  1.001216  1.003795  1.005361
2017-03-01  0.998712  1.000966  1.001468
2017-04-01  1.002476  1.011193  1.005183
2017-05-01  1.003170  1.008488  1.010468
2017-06-01  0.999556  0.997957  0.998594
2017-07-01  1.003574  1.008781  1.007956
2017-08-01  1.004425  1.005056  1.003506
2017-09-01  0.997901  0.995687  0.996555
2017-10-01  1.001537  1.000509  1.001415
2017-11-01  0.996265  0.994888  0.990813
2017-12-01  1.000686  1.001269  1.002245
2018-01-01  0.997466  0.995022  0.990431
2018-02-01  0.997543  0.987405  0.993314
2018-03-01  1.002340  1.000086  1.002683
2018-04-01  0.999960  0.996654  0.994311
2018-05-01  1.005223  1.007955  1.001893
2018-06-01  0.997833  0.996633  1.001444
2018-07-01  1.004438  1.002096  1.004040
2018-08-01  1.001195  1.008757  1.007436
2018-09-01  1.003201  0.996596  0.994730
2018-10-01  0.999921  0.998149  0.998066
2018-11-01  0.999669  1.000224  1.000631
2018-12-01  1.003287  1.007273  1.009292
2019-01-01  1.007734  1.021144  1.019766
2019-02-01  1.000408  1.001154  0.998745
2019-03-01  1.002003  1.016293  1.013261
2019-04-01  1.003310  1.000334  1.002224
2019-05-01  1.000370  1.002774  1.001827

[40 rows x 35 columns]

In [28]:
def compute_riskiness(data,i):
#    print data.var()/(2*data.mean())
    probDensityFun = gaussian_kde(data)
    x = linspace(-0.2,0.2,200)
    p=(probDensityFun(x)/probDensityFun(x).sum())
    g=list(map(lambda x: m.exp(-x*i), x))
    return 1-p.dot(g)

def compute_riskiness_r(data):
    if data.mean()<0:
        temp_past=1
        i=0
        while temp_past>=-1e-6 and compute_riskiness(data,i)>=-1e-6:
            temp_past=compute_riskiness(data,i)
            i=i-1
        i=i+1
        temp_past=1
        j=0
        while temp_past>=-1e-6 and compute_riskiness(data,i+j/10.0)>=-1e-6:
            temp_past=compute_riskiness(data,i+j/10.0)
            j=j-1
        j=j+1
        temp_past=1
        k=0
        while temp_past>=-1e-6 and compute_riskiness(data,i+j/10.0+k/100.0)>=-1e-6:
            temp_past=compute_riskiness(data,i+j/10.0+k/100.0)
            k=k-1
        k=k+1
        return i+j/10.0+k/100.0
    else:
        temp_past=1
        i=0
        while temp_past>=-1e-6 and compute_riskiness(data,i)>=-1e-6:
            temp_past=compute_riskiness(data,i)
            i=i+1
        i=i-1
        temp_past=1
        j=0
        while temp_past>=-1e-6 and compute_riskiness(data,i+j/10.0)>=-1e-6:
            temp_past=compute_riskiness(data,i+j/10.0)
            j=j+1
        j=j-1
        temp_past=1
        k=0
        while temp_past>=-1e-6 and compute_riskiness(data,i+j/10.0+k/100.0)>=-1e-6:
            temp_past=compute_riskiness(data,i+j/10.0+k/100.0)
            k=k+1
        k=k-1
        return i+j/10.0+k/100.0

In [53]:
#riskiness_combine_week=pd.DataFrame()
riskiness_combine_week = []
columns_name = []
for k in range(etf_week_return.shape[1]): # for all ETF
    #print(k)
    temp_etf=etf_week_return.iloc[:,k].dropna()
    columns_name.append(etf_week_return.columns[k])
    riskiness = []
    riskiness.append(compute_riskiness_r(temp_etf.iloc[0:156]-1))
    #print(riskiness)
    riskiness = m.exp(-riskiness[0])
    riskiness_combine_week.append(riskiness)

riskiness_combine_week_list = riskiness_combine_week
    
    #riskiness_combine_week=pd.concat([riskiness_combine_week,riskiness],axis=1, sort=True)


#     if len(temp_etf) >= 156:
#         columns_name.append(etf_data_week_return.columns[k])
#         for i in range(156, len(temp_etf)+1):
#             riskiness.append(compute_riskiness_r(temp_etf.iloc[i-156:i]-1))
#         riskiness = pd.DataFrame(riskiness,index=temp_etf.index[155:])
#         riskiness = riskiness[0].map(lambda x: m.exp(-x))
#         riskiness = pd.DataFrame(riskiness,index=temp_etf.index[155:])
#         riskiness_combine_week=pd.concat([riskiness_combine_week,riskiness],axis=1)
# riskiness_combine_week.columns=columns_name

0
[32.63]
1
[36.68]
2
[61.39]
3
[21.9]
4
[204.55]
5
[0.56]
6
[27.99]
7
[60.64]
8
[33.99]
9
[0.0]
10
[166.73]
11
[32.55]
12
[14.27]
13
[45.6]
14
[335.26]
15
[17.12]
16
[35.309999999999995]
17
[131.09]
18
[262.28999999999996]
19
[81.59]
20
[63.44]
21
[98.1]
22
[63.730000000000004]
23
[164.95000000000002]
24
[51.17]
25
[59.89]
26
[47.690000000000005]
27
[34.9]
28
[37.620000000000005]
29
[29.54]
30
[30.07]
31
[114.6]
32
[102.22]
33
[35.17]
34
[43.24]

In [67]:
riskiness_combine_week = riskiness_combine_week_list
length = len(riskiness_combine_week)
riskiness_combine_week = pd.DataFrame(np.array(riskiness_combine_week).reshape(-1, 1), index = columns_name, columns = ['riskiness'])
riskiness_combine_week = riskiness_combine_week.sort_values(['riskiness'], ascending=True)
ranking = [i for i in range(1, length+1)]
riskiness_combine_week['Ranking'] = ranking
riskiness_combine_week = riskiness_combine_week.drop('riskiness', 1)
riskiness_combine_week

      Ranking
PVI         1
BSCJ        2
SUB         3
MEAR        4
IBDK        5
BSCK        6
IBDC        7
IBCD        8
IBDL        9
BSCL       10
IBDM       11
BSCM       12
SHM        13
FMB        14
BSCN       15
IBDN       16
IBDO       17
SMMU       18
IBCE       19
BSCO       20
VTEB       21
PRB        22
IBDD       23
IBDP       24
MUNI       25
MUB        26
SHYD       27
BSCP       28
IBDQ       29
PZA        30
TFI        31
RVNU       32
MLN        33
ITM        34
SMB        35

In [68]:
riskiness_combine_week.to_csv("riskiness_combine_week.csv")

In [69]:
riskiness_combine_month = []
columns_name = []
for k in range(etf_month_return.shape[1]): # for all ETF
    #print(k)
    temp_etf=etf_month_return.iloc[:,k].dropna()
    columns_name.append(etf_month_return.columns[k])
    riskiness = []
    riskiness.append(compute_riskiness_r(temp_etf.iloc[0:36]-1))
    #print(riskiness)
    riskiness = m.exp(-riskiness[0])
    riskiness_combine_month.append(riskiness)

riskiness_combine_month_list = riskiness_combine_month
riskiness_combine_month

0
[19.53]
1
[25.5]
2
[29.97]
3
[16.62]
4
[72.36]
5
[12.7]
6
[21.62]
7
[30.52]
8
[30.69]
9
[19.979999999999997]
10
[328.58]
11
[14.31]
12
[8.239999999999998]
13
[47.160000000000004]
14
[931.8199999999999]
15
[11.129999999999999]
16
[38.93]
17
[90.26]
18
[236.72]
19
[72.23]
20
[57.660000000000004]
21
[103.53]
22
[65.61]
23
[226.88000000000002]
24
[50.37]
25
[55.37]
26
[45.82]
27
[39.690000000000005]
28
[42.28]
29
[32.48]
30
[30.59]
31
[226.82000000000002]
32
[116.81]
33
[52.349999999999994]
34
[51.09]

[3.297833827230616e-09,
 8.423463754468647e-12,
 9.642605015268938e-14,
 6.053767127397022e-08,
 3.753628513701758e-32,
 3.0511255580364225e-06,
 4.0789962049207007e-10,
 5.56329913513334e-14,
 4.693559744513081e-14,
 2.1027916876128252e-09,
 1.9930543237777028e-143,
 6.098822080395936e-07,
 0.0002638842494547184,
 3.3012030177556055e-21,
 0.0,
 1.4665687152517056e-05,
 1.2385564904517142e-17,
 6.3180064278222956e-40,
 1.5624648062686812e-103,
 4.274738691860157e-32,
 9.09034096916597e-26,
 1.0901651349628999e-45,
 3.205819323395001e-29,
 2.932702070478368e-99,
 1.3322537352002598e-22,
 8.976655057112995e-25,
 1.2607437944855337e-20,
 5.79231288539483e-18,
 4.345395448490776e-19,
 7.836375312862996e-15,
 5.1871857318864316e-14,
 3.114050238563183e-99,
 1.8623511389778008e-51,
 1.839432571236886e-23,
 6.484775111198212e-23]

In [90]:
riskiness_combine_month = riskiness_combine_month_list
length = len(riskiness_combine_month)
riskiness_combine_month = pd.DataFrame(np.array(riskiness_combine_month).reshape(-1, 1), index = columns_name, columns = ['riskiness'])
riskiness_combine_month = riskiness_combine_month.sort_values(['riskiness'], ascending=True)
ranking = [i for i in range(1, length+1)]
riskiness_combine_month['Ranking'] = ranking
riskiness_combine_month = riskiness_combine_month.drop('riskiness', 1)
riskiness_combine_month.to_csv("riskiness_combine_month.csv")
riskiness_combine_month

      Ranking
PVI         1
MEAR        2
BSCJ        3
IBDK        4
IBDC        5
IBCD        6
IBDL        7
BSCK        8
SUB         9
BSCL       10
IBDM       11
BSCM       12
BSCN       13
IBDD       14
IBCE       15
IBDN       16
SMMU       17
IBDO       18
BSCO       19
IBDP       20
PRB        21
IBDQ       22
MUNI       23
BSCP       24
FMB        25
SHM        26
VTEB       27
PZA        28
SMB        29
MUB        30
TFI        31
SHYD       32
ITM        33
RVNU       34
MLN        35

In [85]:
#omega_combine_week=pd.DataFrame()
bond_rate=pd.read_excel("USG3M.xlsx",index_col=0,parse_dates=True,header=None)
USG3M=bond_rate[1]
omega_combine_week = []
columns_name = []
for k in range(etf_week_return.shape[1]):
    #print(k)
    temp_etf = etf_week_return.iloc[:,k].dropna()
    columns_name.append(etf_week_return.columns[k])
    omega = []
    probDensityFun = gaussian_kde(temp_etf.iloc[0:156]-1)
    x = np.linspace(-0.5,0.5,10000)
    L = USG3M.loc[temp_etf.iloc[0:156].index[-1]]
    p = (probDensityFun(x)/probDensityFun(x).sum())
    p = p.cumsum()
    p = pd.DataFrame(p, index=x)
    omega = ((1-p).loc[L/100/52:].sum())/(p.loc[:L/100/52].sum())
    omega = omega.loc[0]
    print(omega)
    omega_combine_week.append(omega)

omega_combine_week_list = omega_combine_week
omega_combine_week

0.8619926067012126
0.8720127858585578
0.5992592437698039
0.8767959942456114
0.5020107523620275
0.8797103123171499
0.9553545051518076
1.0031511271515174
0.8470232406949927
0.9932499676904187
0.5503368539559709
0.9285283588482879
0.9372302585904879
0.7297773307139579
0.3622735249833677
0.9580642659942201
0.7184112369396844
0.8890799836593025
0.8048840264226818
0.9581062072533157
0.9930627724266171
0.8596952899175158
0.9040470327766332
0.8007436216710325
0.9508796129863811
1.014483047763856
0.9831850111313003
0.9922544233138846
1.0192302973317258
0.9959141014700527
0.9801025905702894
1.028513780169712
0.9677569702434068
1.0828362132477436
1.0537884202096761

[0.8619926067012126,
 0.8720127858585578,
 0.5992592437698039,
 0.8767959942456114,
 0.5020107523620275,
 0.8797103123171499,
 0.9553545051518076,
 1.0031511271515174,
 0.8470232406949927,
 0.9932499676904187,
 0.5503368539559709,
 0.9285283588482879,
 0.9372302585904879,
 0.7297773307139579,
 0.3622735249833677,
 0.9580642659942201,
 0.7184112369396844,
 0.8890799836593025,
 0.8048840264226818,
 0.9581062072533157,
 0.9930627724266171,
 0.8596952899175158,
 0.9040470327766332,
 0.8007436216710325,
 0.9508796129863811,
 1.014483047763856,
 0.9831850111313003,
 0.9922544233138846,
 1.0192302973317258,
 0.9959141014700527,
 0.9801025905702894,
 1.028513780169712,
 0.9677569702434068,
 1.0828362132477436,
 1.0537884202096761]

In [86]:
omega_combine_week = omega_combine_week_list
#print(omega_combine_week)
length = len(omega_combine_week)
omega_combine_week = pd.DataFrame(np.array(omega_combine_week).reshape(-1, 1), index = columns_name, columns = ['omega'])
#print(omega_combine_week)
omega_combine_week = omega_combine_week.sort_values(['omega'], ascending=False)
ranking = [i for i in range(1, length+1)]
omega_combine_week['Ranking'] = ranking
omega_combine_week = omega_combine_week.drop('omega', 1)
omega_combine_week.to_csv("omega_combine_week.csv")
omega_combine_week

[0.8619926067012126, 0.8720127858585578, 0.5992592437698039, 0.8767959942456114, 0.5020107523620275, 0.8797103123171499, 0.9553545051518076, 1.0031511271515174, 0.8470232406949927, 0.9932499676904187, 0.5503368539559709, 0.9285283588482879, 0.9372302585904879, 0.7297773307139579, 0.3622735249833677, 0.9580642659942201, 0.7184112369396844, 0.8890799836593025, 0.8048840264226818, 0.9581062072533157, 0.9930627724266171, 0.8596952899175158, 0.9040470327766332, 0.8007436216710325, 0.9508796129863811, 1.014483047763856, 0.9831850111313003, 0.9922544233138846, 1.0192302973317258, 0.9959141014700527, 0.9801025905702894, 1.028513780169712, 0.9677569702434068, 1.0828362132477436, 1.0537884202096761]
         omega
MUB   0.861993
VTEB  0.872013
SHM   0.599259
TFI   0.876796
SUB   0.502011
ITM   0.879710
PZA   0.955355
FMB   1.003151
MUNI  0.847023
SMB   0.993250
MEAR  0.550337
SHYD  0.928528
MLN   0.937230
SMMU  0.729777
PVI   0.362274
RVNU  0.958064
PRB   0.718411
BSCK  0.889080
BSCJ  0.804884
BSCL  0.958106
BSCM  0.993063
IBDL  0.859695
IBDM  0.904047
IBDK  0.800744
IBDN  0.950880
BSCN  1.014483
IBDO  0.983185
IBDP  0.992254
BSCO  1.019230
IBDQ  0.995914
BSCP  0.980103
IBDC  1.028514
IBCD  0.967757
IBDD  1.082836
IBCE  1.053788

      Ranking
IBDD        1
IBCE        2
IBDC        3
BSCO        4
BSCN        5
FMB         6
IBDQ        7
SMB         8
BSCM        9
IBDP       10
IBDO       11
BSCP       12
IBCD       13
BSCL       14
RVNU       15
PZA        16
IBDN       17
MLN        18
SHYD       19
IBDM       20
BSCK       21
ITM        22
TFI        23
VTEB       24
MUB        25
IBDL       26
MUNI       27
BSCJ       28
IBDK       29
SMMU       30
PRB        31
SHM        32
MEAR       33
SUB        34
PVI        35

In [87]:
omega_combine_month = []
columns_name = []
for k in range(etf_month_return.shape[1]):
    #print(k)
    temp_etf = etf_month_return.iloc[:,k].dropna()
    columns_name.append(etf_month_return.columns[k])
    omega = []
    probDensityFun = gaussian_kde(temp_etf.iloc[0:36]-1)
    x = np.linspace(-0.5,0.5,10000)
    L = USG3M.loc[temp_etf.iloc[0:36].index[-1]]
    p = (probDensityFun(x)/probDensityFun(x).sum())
    p = p.cumsum()
    p = pd.DataFrame(p, index=x)
    omega = ((1-p).loc[L/100/12:].sum())/(p.loc[:L/100/12].sum())
    omega = omega.loc[0]
    print(omega)
    omega_combine_month.append(omega)

omega_combine_month_list = omega_combine_month
omega_combine_month

0.8502248173069975
0.9009205405464606
0.5292605727839571
0.872413670669498
0.41966222810583104
0.8976785874884824
1.0006559648983924
1.0855272602404131
0.8387704487188773
0.6539863308187917
0.22031350887888676
0.9547575987039946
0.9464300775062273
0.5742356331349703
0.035226076150046935
1.0140104067234705
0.5605851418499967
0.9742690711956212
0.8161165719572081
1.1005210131351189
1.2072191237716652
0.8701881637484739
1.0213985724160093
0.8101437413788569
1.1162721711450931
1.2958241698076098
1.2057455797181236
1.244168178236301
1.2801816161906534
1.2187985108002395
1.1854674790917163
1.3708330518781537
1.163063562594103
1.4278893375546955
1.3383294317547505

[0.8502248173069975,
 0.9009205405464606,
 0.5292605727839571,
 0.872413670669498,
 0.41966222810583104,
 0.8976785874884824,
 1.0006559648983924,
 1.0855272602404131,
 0.8387704487188773,
 0.6539863308187917,
 0.22031350887888676,
 0.9547575987039946,
 0.9464300775062273,
 0.5742356331349703,
 0.035226076150046935,
 1.0140104067234705,
 0.5605851418499967,
 0.9742690711956212,
 0.8161165719572081,
 1.1005210131351189,
 1.2072191237716652,
 0.8701881637484739,
 1.0213985724160093,
 0.8101437413788569,
 1.1162721711450931,
 1.2958241698076098,
 1.2057455797181236,
 1.244168178236301,
 1.2801816161906534,
 1.2187985108002395,
 1.1854674790917163,
 1.3708330518781537,
 1.163063562594103,
 1.4278893375546955,
 1.3383294317547505]

In [91]:
omega_combine_month = omega_combine_month_list
#print(omega_combine_week)
length = len(omega_combine_month)
omega_combine_month = pd.DataFrame(np.array(omega_combine_month).reshape(-1, 1), index = columns_name, columns = ['omega'])
#print(omega_combine_week)
omega_combine_month = omega_combine_month.sort_values(['omega'], ascending=False)
ranking = [i for i in range(1, length+1)]
omega_combine_month['Ranking'] = ranking
omega_combine_month = omega_combine_month.drop('omega', 1)
omega_combine_month.to_csv("omega_combine_month.csv")
omega_combine_month

      Ranking
IBDD        1
IBDC        2
IBCE        3
BSCN        4
BSCO        5
IBDP        6
IBDQ        7
BSCM        8
IBDO        9
BSCP       10
IBCD       11
IBDN       12
BSCL       13
FMB        14
IBDM       15
RVNU       16
PZA        17
BSCK       18
SHYD       19
MLN        20
VTEB       21
ITM        22
TFI        23
IBDL       24
MUB        25
MUNI       26
BSCJ       27
IBDK       28
SMB        29
SMMU       30
PRB        31
SHM        32
SUB        33
MEAR       34
PVI        35

In [94]:
ASKSR_week = pd.DataFrame(np.arange(len(etf_month_return.columns)).reshape((len(etf_month_return.columns), 1)))
adj_list = []
cumprod_return_list = []
sharpe_week = []
for i in range(len(etf_week_return.columns)):
	tmp_etf = etf_week_return.iloc[:, i]
	tmp_etf = tmp_etf - 1
	# tmp_etf = np.log(tmp_etf)

	mean = tmp_etf.mean()
	std  = tmp_etf.std()
	skew = tmp_etf.skew()
	kurt = tmp_etf.kurt()
	var =  -1.96


	Z = var + ( skew * ((var**2) - 1)/6) + (kurt * ((var**3) - 3 * var)/24)-((skew**2) * (2 * (var**3)- 5 * var)/36)
	# print(mean, std, skew, kurt,Z, mean/(std/m.sqrt(7)))
	sharpe_week.append( mean/(std/m.sqrt(7)))
	adj = (-0.5) * (std**2) * 52 - Z * std * m.sqrt(len(etf_week_return.index))
	cumprod_return = (np.exp(tmp_etf).cumprod()[-1])
	adj_list.append(adj)	
	cumprod_return_list.append(cumprod_return)


ASKSR_week.columns = ["Ranking"]
ASKSR_week.index = etf_month_return.columns
for i in range (len(etf_week_return.columns)):
	ASKSR_week.iloc[i,0] = cumprod_return_list[i]/adj_list[i]#sharpe_week[i]

ASKSR_week = ASKSR_week.sort_values(by = ['Ranking'], ascending=False)
ranking = [i for i in range(1, 36)]
ASKSR_week["Ranking"] = ranking 
ASKSR_week

      Ranking
PVI         1
MEAR        2
SUB         3
BSCJ        4
IBDK        5
SHM         6
BSCK        7
IBDC        8
IBCD        9
IBDL       10
SMMU       11
IBDM       12
BSCL       13
IBDN       14
BSCN       15
BSCM       16
IBDO       17
MUNI       18
FMB        19
MUB        20
IBCE       21
VTEB       22
IBDP       23
TFI        24
BSCP       25
BSCO       26
IBDQ       27
PZA        28
IBDD       29
SHYD       30
RVNU       31
MLN        32
ITM        33
SMB        34
PRB        35

In [95]:
ASKSR_month = pd.DataFrame(np.arange(len(etf_month_return.columns)).reshape((len(etf_month_return.columns), 1)))
adj_list = []
cumprod_return_list = []
sharpe_month = []
for i in range(len(etf_month_return.columns)):
	tmp_etf = etf_month_return.iloc[:, i]
	tmp_etf = tmp_etf
	tmp_etf = np.log(tmp_etf)

	mean = tmp_etf.mean()
	std  = tmp_etf.std()
	skew = tmp_etf.skew()
	kurt = tmp_etf.kurt()
	var = -1.96

	Z = var + ( skew * ((var**2) - 1)/6) + (kurt * ((var**3) - 3 * var)/24)-((skew**2) * (2 * (var**3)- 5 * var)/36)
		# print(mean, std, skew, kurt,Z)
	sharpe_month.append( mean/(std/m.sqrt(30)))
	adj = (-0.5) * (std**2) * 52 - Z * std * m.sqrt(len(etf_week_return.index))
	cumprod_return = (np.exp(tmp_etf).cumprod()[-1])
	adj_list.append(adj)	
	cumprod_return_list.append(cumprod_return)

ASKSR_month.index = etf_month_return.columns
ASKSR_month.columns = ['Ranking']
for i in range (len(etf_month_return.columns)):
	ASKSR_month.iloc[i,0] = cumprod_return_list[i]/adj_list[i]  #sharpe_month[i]

ASKSR_month = ASKSR_month.sort_values(by = ['Ranking'], ascending=False)
ranking = [i for i in range(1, 36)]
ASKSR_month["Ranking"] = ranking 

ASKSR_month

      Ranking
PVI         1
MEAR        2
BSCJ        3
IBDC        4
IBDK        5
IBCD        6
IBDL        7
SUB         8
BSCK        9
IBDM       10
BSCL       11
PRB        12
SHM        13
SMMU       14
BSCM       15
IBDN       16
IBDD       17
BSCN       18
IBCE       19
IBDO       20
BSCO       21
SMB        22
IBDP       23
IBDQ       24
MUNI       25
BSCP       26
VTEB       27
FMB        28
MUB        29
PZA        30
TFI        31
SHYD       32
ITM        33
RVNU       34
MLN        35